.home {
    height: 100vh;
    background-size: cover;
}

.background-text {
    color: whitesmoke;
    position: absolute;
    bottom: 15px;
    left: 45px;
}

.background-text a {
    color: whitesmoke;
    text-decoration: none;
}

.setting {
    position: absolute;
    bottom: 5px;
    left: 5px;
}
