.greeting {
    color: whitesmoke;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.greeting h2 {
    font-size: 200%;
    margin: 0;
}

.clock {
    font-size: 700%;
    font-weight: 500;
}